body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: rgb(12, 0, 0);
}

.davey {
  color: rgb(211, 211, 211);
  font-size: 5em;
  padding: 1em 0 0.5em 1em;
}

.devs {
  color: rgb(124, 0, 0);
}

.davey::before {
  content: " ";
  display: inline-block;
  border-bottom: 0.1em solid rgb(211, 211, 211);
  height: 1em;
  margin-left: 2.3em;
  position: absolute;
  width: 3em;
}

.contacts {
  list-style-type: none;
  display: flex;
  justify-content: center;
  color: rgb(211, 211, 211);
}

.contact {
  font-size: 2em;
}

.contact-svg {
  text-align: center;
}

.contact-link,
.contact-link:visited {
  color: rgb(211, 211, 211);
  display: block;
  margin: auto;
  text-decoration: none;
}

.contact-link:focus {
  outline: 0.5em solid rgb(211, 211, 211);
}

.contact-icons,
.contact-icons:visited {
  fill: rgb(124, 0, 0);
  height: 3.7em;
  padding: 1vw 5vw 0 5vw;
  position: relative;
  transition: 0.3s;
  width: 15vw;
}

.contact-icons:hover,
.contact-icons:focus,
.contact-icons:active {
  color: rgb(124, 0, 0);
  fill: rgb(211, 211, 211);
  height: 5.2em;
  width: 5.2em;
}

.contact-text {
  margin: -0.25em 0 0 0;
  text-align: center;
}
